* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-image: url("images/patt.png")
}
.page-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    margin: 0 -15px;
}
[class*="col-"] {
    flex: 0 0 25%;
    max-width: 25%;
}
.container-slide {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.col-1-right {
    height: 50px;
    background-repeat: no-repeat;
    max-width: 3%;
    flex: 0 0 3%;
    background-image: url(images/arrow-right-50.png);
    background-position: left;
}
.col-1-left {
    height: 50px;
    background-repeat: no-repeat;
    max-width: 3%;
    flex: 0 0 3%;
    background-image: url(images/arrow-left-50.png);
    background-position: right;
}
.col-3 {
    display: flex;
    flex: 0 0 25%;
    max-width: 25%;
    align-items: center;
}
.col-4 {
    flex: 0 0 30%;
    max-width: 30%;
    margin: 15px;
    height: 650px;
    border: 1px solid white;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-8 {
    display: flex;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    color: white;
    font-size: 48px;
    margin: 15px 0 15px 15px;
}
.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10 {
    max-width: 94%;
    flex: 0 0 94%;
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: white;
    font-weight: 300;
    text-decoration: none;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    color:#96b8dc;
    margin-top: 30px;
    margin-left: 15px;
}






.slide {
    height: 400px;
    max-width: 100%;
    display: flex;
    border-bottom: 1px solid white;
}
.button-slide {
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255   , 0.0); 
    border: none;
}




.sort {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}
.header {
    height: 100px;
    background-color: rgba(255, 255, 255   , 0.75); 
    display: flex;
    align-items: center;
}
.main {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.menu {
    display: flex;
}
.menu li {
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
    text-decoration: none;
}
.menu a:hover {
    background-color: #2c71b8;
    color: white;
}
.basket-menu {
    height: 40px;
    width: 40px;
    background-image: url(images/basket.png);
    background-repeat: no-repeat;
    position: relative;
    margin-left: 30px;
    background-color: white;
    background-position: center;
}
.input-search {
    position: relative;
    height: 40px;
    width: 230px;
    padding-left: 30px;
    color: #2c71b8;

}
input {
    border: solid 1px #2c71b8;
    background-color: transparent;
}
input::placeholder {
    color: #2c71b8;
    font-size: 21px;
    
}
.button-search {
    background-color: #2c71b8;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    width: 25px;
    background-position: center;
    height: 25px;
    position: absolute;
    right: 5px;
    border: none;
    top: 7px;
}
.quantity {
    height: 20px;
    width: 20px;
    background-color: #2c71b8;
    color: white;
    text-align: center;
    border-radius: 50%;
    margin-top: -10px;
    margin-left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.placeholder {
    color: #2c71b8;
    font-size: 21px;
    padding-left: 20px;
    height: 40px;
    width: 200px;
}
.down-arrow-products {
    background-image: url(images/arrow_down_blue.png);
    position: fixed;
    width: 25px;
    height: 50px;
    margin-top: 40px;
    margin-right: -125px;
    background-repeat: no-repeat;
}
.products-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 25%;
    color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
    text-decoration: none;
}
.dropbtn {
    width: 150px;
    height: 50px;

}
.drop-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 301px;
    left: 0;
    background-color: #2c71b8;
    margin-left: -1px;
}
.products-menu:hover .drop-content {
    display: block;
}
.drop-content a {
    color: white;
    background-color: #2c71b8;
    justify-content: left;
    padding: 30px;
}
.drop-content a:hover {
    background-color: white;
    color: #2c71b8;
}
.products-menu:hover .dropbtn {
    background-color: #2c71b8;
    color: white;
}
.products-menu:hover .down-arrow-products {
    background-image: url(images/arrow_down_white.png);
    position: fixed;
    width: 25px;
    height: 50px;
    margin-top: 40px;
    margin-right: -125px;
    background-repeat: no-repeat;
}




.device-content {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    height: 180px;
    width: 100%;
    background-color: rgba(255, 255, 255   , 0.75);
    position: relative;
}
.like {
    margin-top: 10px;
    background-image: url(images/like.png);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    border: 1px solid #2c71b8;
    background-color: rgba(255, 255, 255   , 0.25);
    background-position: center;

}
.square {
    background-image: url(images/square.png);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    border: 1px solid #2c71b8;
    background-color: rgba(255, 255, 255   , 0.25);
    background-position: center;
}
.buttons {
    align-self: flex-start;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
.img {
    justify-content: center;
    display: flex;
}





.device-name {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
}
.text-device {
    color: white;
    font-size: 21px;
    margin-left: 15px;
    margin-top: 20px;
    font-weight: lighter;
}
.type {
    color: white;
    font-size: 21px;
    margin-left: 15px;
    margin-top: 20px;
    font-weight: lighter;
}
span {
    font-weight: bold;
}
.screen {
    color: white;
    font-size: 21px;
    margin-left: 15px;
    margin-top: 20px;
    font-weight: lighter;
}
.ram {
    color: white;
    font-size: 21px;
    margin-left: 15px;
    margin-top: 20px;
    font-weight: lighter;
}
.cost {
    color: white;
    font-size: 48px;
    margin-left: 15px;
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center
    
}
.cent {
    color: white;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 5px;
}
.button-details {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 21px;
    color: white;
    height: 50px;
    width: 215px;
    background-color: rgba(255, 255, 255   , 0);
    border: 1px solid white;
}
.button-add {
    margin-left: 30px;
    margin-top: 15px;
    font-size: 21px;
    color: white;
    height: 50px;
    width: 215px;
    background-color: rgba(255, 255, 255   , 0.25);
    border: none;
}




.products-menu-sort {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 30%;
    max-width: 30%;
    align-items: center;
    /*font-weight: 300;*/


}
.dropbtn-sort {
    display: inline;
    width: 275px;
    height: 40px;
    color: white;
    font-size: 21px;
    border: 1px solid white;
    align-content: center;
    padding-left: 20px;
    background-color: #2c71b8;
    text-decoration: none;
}
.drop-content-sort {
    display: none;
    position: absolute;
    z-index: 1;
    top: 75%;
    width: 275px;
    height: 40px;
    left: 2px;
    background-color: #2c71b8;
    font-size: 21px;
    border: 1px solid white;
}
.products-menu-sort:hover .drop-content-sort {
    display: block;
}
.drop-content-sort a {
    color: white;
    background-color: #2c71b8;
    justify-content: left;
    padding: 10px 15px;
    display: block;
    text-decoration: none;

}
.drop-content-sort a:hover {
    background-color: white;
    color: #2c71b8;
    height: 40px;
}
.products-menu-sort:hover .dropbtn-sort {
    background-color: #2c71b8;
    color: white;
}



.load-more {
    text-align: center;
    height: 155px;
    display: flex;
    position: relative;
    justify-content: center;
    top: 40px;

}
.load-more-button {
    display: flex;
    color: white;
    font-size: 36px;
    background-color: rgba(255, 255, 255   , 0.0);
    border: none;
    font-weight: 300;
    text-decoration: none;
}



.col-3-device-type {
    display: flex;
    flex: 0 0 25%;
    max-width: 25%;
}
.device-type {
    color: white;
    padding: 30px;
    width: 270px;
    height: 850px;
    border-right: 1px solid white;
    background-color: rgba(255, 255, 255   , 0.25);

}
.type-device {
    margin-top: 25px;
    display: block;
    text-decoration: none;
    font-weight: 300;
}
.input-margin {
    margin-top: 25px;
}
.device-color {
    margin-top: 60px;
    display: block;
    font-weight: 300;
    text-decoration: none;
}
.device-ram {
    margin-top: 60px;
    display: block;
    font-weight: 300;
    text-decoration: none;
}
h2 {
    font-weight: bold;
}
.more-options {
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 15px;
}
.button-submit-device-type {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-submit {
    border: 1px solid white;
    background-color: #2c71b8;
    color: white;
    height: 50px;
    width: 210px;
    font-size: 21px;
    font-weight: 300;
    text-decoration: none;
}
label {
    position: relative;
    display: flex;
    padding-top: 10px;
    margin-top: 15px;
    align-items: center;
}
input[type="checkbox"] {
    display: none;
}
label::before {
    content:"";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    cursor: pointer;
    margin-right: 15px;
}
input[type="checkbox"]:checked + label::before {
    background-color: red;
    border: 1px solid red;
}

.bread-crumps {
    color: #96b8dc;
    font-weight: 300;
    text-decoration: none;
}


.liked {
    background-image: url(images/like-hover.png);
    background-repeat: no-repeat;
}